html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background-image: url("./img/bckg.jpg");
}

.main-container {
  margin: 5% 20%;
  padding: 2% 4%;
  border: 3px solid rgba(236, 236, 225, 0.383);
  border-radius: 0.7em;
  justify-content: center;
  text-align: center;
  background-color: rgba(188, 240, 237, 0.689);
}
.main-container h2 {
  font-family: "Shadows Into Light", cursive;
  font-size: xxx-large;
}

/* Search button and Search bar Config */
.search-box {
  float: left;
}

.search-button {
  background-color: rgba(113, 176, 228, 0.633);
  border: none;
  border-radius: 0.4em;
}

.search-button:focus {
  outline: none;
}

.search-button:hover {
  background-color: rgba(85, 166, 231, 0.842);
}

.search-bar {
  margin: 4px 4px;
  padding: 2px 2px;
  width: 0px;
  display: inline-block;
  transition: all 0.4s ease-out;
  transition-delay: 0.5s;
  opacity: 0;
  border: none;
  border-radius: 0.78rem;
  border-color: rgba(255, 248, 220, 0.201);
  text-indent: 0.72rem;
}

.search-bar:focus,
.search-box:hover .search-bar {
  animation-delay: 3s;
  transition: all 0.5s ease-in;
  transition-delay: 0.25s;
  width: 210px;
  opacity: 1;
}

.search-bar:focus {
  outline: none;
}

/* User Task input and adding button */
#usr-input {
  border-radius: 4rem;
  border: none;
  text-indent: 0.72rem;
  text-justify: center;
  width: 75%;
  font-family: "Indie Flower", cursive;
  font-size: large;
}

#usr-input:focus {
  outline: none;
}

#submit-btn {
  font-size: 1.8rem;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(37, 189, 37, 0.911);
}

#submit-btn:hover {
  transform: scale(1.5);
  transition: all 0.2s ease-in;
  color: rgba(26, 139, 26, 0.911);
}

#submit-btn:focus {
  outline-width: 0;
}
#submit-btn:active {
  color: rgba(101, 211, 28, 0.911);
}
